<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bgFooter">
				<div class="container">
					<div class="row col-mb-100">
						<div class=" text-center">
							<div class="copyrights-menu copyright-links clearfix">
								<a href="#"><img src="/images/powered.png" alt=""></a><a href="#"><img src="/images/tssc.png" alt=""></a><a href="#"><img src="/images/elk.png" alt=""></a>
							</div>
						</div>
						<div class="clear"></div>

					</div>
				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->