
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head'); %>
	<!-- Document Title
	============================================= -->
	<title>CÓDIGO DE BARRAS GS1</title>
	
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<!-- #top-bar end -->

		<!-- Header
		============================================= -->
        <%- include('../partials/header'); %>
		<!-- #header end -->
        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-pattern">

			<div class="container clearfix center">
				<h1 class="azul"><i class="icon-barcode1"></i> Codigo De Barras</h2><br>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="table-responsive">
						<table style="width:100%">
							<tr class="backgroundBlue">
								<th rowspan="3" colspan="3" >CÓDIGO DE BARRAS</th>
								<th colspan="12" >2023</th>
								<th rowspan="3" >TOTAL 2023</th>
							</tr>

							<tr class="backgroundPink">
								<td colspan="3">1Q</td>
								<td colspan="3">2Q</td>
								<td colspan="3">3Q</td>
								<td colspan="3">4Q</td>
							</tr>

							<tr class="backgroundYellow">
								<td>ENE</td>
								<td>FEB</td>
								<td>MAR</td>
								<td>ABR</td>
								<td>MAY</td>
								<td>JUN</td>
								<td>JUL</td>
								<td>AGO</td>
								<td>SEP</td>
								<td>OCT</td>
								<td>NOV</td>
								<td>DIC</td>
							</tr>
							
							<tr>
								<td rowspan="40" class="backgroundBlue">EMPRESAS</td>
								<td rowspan="2">INSCRIPCIÓN</td>
								<td class="backgroundOrange">META</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>  
							</tr>
							
							<tr>
								<td class="backgroundOrange">REAL</td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
							</tr>
							
							<tr class="backgroundBlue">
								<td></td>
								<td></td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
							</tr>
							
							<tr>
								<td rowspan="14">CARTERA ACTIVA</td>
								<td class="backgroundOrange">META</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>  
							</tr>
							
							<tr class="backgroundPink">
								<td class="backgroundOrange">REAL</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							
							<tr class="backgroundPink">
								<td class="backgroundOrange">M0</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>	
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M1</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
				
							<tr class="backgroundPink">
								<td class="backgroundOrange">M2</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
		
							<tr class="backgroundPink">
								<td class="backgroundOrange">M3</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M4</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M5</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M6</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M7</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
	
							<tr class="backgroundPink">
								<td class="backgroundOrange">M8</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M9</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M10</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">M11</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
								
							<tr class="backgroundBlue">
								<td></td>
								<td></td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
							</tr>

							<tr>
								<td rowspan="12"></td>
								<td class="backgroundOrange">ENERO</td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">FEBRERO</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">MARZO</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="backgroundPink">
								<td class="backgroundOrange">ABRIL</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">MAYO</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">JUNIO</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="backgroundPink">
								<td class="backgroundOrange">JULIO</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="backgroundPink">
								<td class="backgroundOrange">AGOSTO</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="backgroundPink">
								<td class="backgroundOrange">SEPTIEMBRE</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							
							<tr class="backgroundPink">
								<td class="backgroundOrange">OCTUBRE</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="backgroundPink">
								<td class="backgroundOrange">NOVIEMBRE</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="backgroundPink">
								<td class="backgroundOrange">DICIEMBRE</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
									
							<tr class="backgroundBlue">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>89%</td>
							</tr>

							<tr>
								<td rowspan="2">CARTERA MOROSA</td>
								<td class="backgroundOrange">META</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>  
							</tr>

							<tr>
								<td class="backgroundOrange">REAL</td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
							</tr>
							
							<tr class="backgroundBlue">
								<td></td>
								<td></td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
								<td>89%</td>
							</tr>
							<tr>
								<td rowspan="4" class="backgroundBlue" style="border: solid white; font-weight: bold; font-size: large;">TOTAL</td>
								<td class="backgroundOrange">META</td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>
								<td class="backgroundOrange"></td>  
							</tr>

							<tr>
								<td class="backgroundOrange">REAL</td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
								<td class="backgroundBlue"></td>
							</tr>
							<tr>
								<td class="backgroundOrange">REAL</td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
							</tr>
							<tr>
								<td class="backgroundOrange">REAL</td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
								<td class="backgroundPink"></td>
							</tr>
								
						</table>
					</div>
				</div>
			</div>
		</section><!-- #content end -->
		
		

		

		<!-- Footer
		============================================= -->
        <%- include('../partials/footer'); %>
        <!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Bootstrap Data Table Plugin -->
	<script src="js/components/bs-datatable.js"></script>

	<!-- Bootstrap Select Plugin -->
	<script src="js/components/bs-select.js"></script>

	<!-- Select Splitter Plugin -->
	<script src="js/components/selectsplitter.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>
	<script>

		$(document).ready(function() {
			$('#datatable1').dataTable();
		});

	</script>
	<script>

		$('.selectsplitter').selectsplitter();

	</script>
</body>
</html>