
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head'); %>
	<!-- Document Title
	============================================= -->
	<title>HOME GS1</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<!-- #top-bar end -->

		<!-- Header
		============================================= -->
        <%- include('../partials/header'); %>
		<!-- #header end -->
        
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix center">
                <h1 class="azul">Bienvenidos</h2>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix center">

					<img src="/images/logoga.png" alt="">
					<div style="margin-top: 15% !important;"></div>
				</div>
			</div>
		</section><!-- #content end -->
        <!-- #content end -->

		<!-- Footer
		============================================= -->
        <%- include('../partials/footer'); %>
        <!-- #footer end -->

	</div><!-- #wrapper end -->

	

</body>
</html>