<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head'); %>
	<!-- Document Title
	============================================= -->
	<title>CATÁLOGO ELECTRONICO GS1</title>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<!-- #top-bar end -->

		<!-- Header
		============================================= -->
        <%- include('../partials/header'); %>
		<!-- #header end -->
        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-pattern">

			<div class="container clearfix center">
				<h1 class="azul"><i class="icon-barcode1"></i> Codigo De Barras</h2><br>
			</div>
		</section><!-- #page-title end -->

		<form  action="/tabla">
			<div class="col-lg-12" style="padding: 5% 15px 2% 15px;" >
				<div class="row" >
					<div class="col-md-5">
							<label for="" class="center" style="display: flex; justify-content: space-around;">Inicio <span>Fin</span></label>
							<div class="input-daterange component-datepicker input-group " id="date">
							<input type="date" value="" class="form-control text-start" name="start-date" id="start-date" placeholder="DD/MM/AAAA">
							<div class="input-group-text">a</div>
							<input type="date" value="" class="form-control text-start" name="end-date" id="start-date" placeholder="DD/MM/AAAA">	
					</div>
				</div>
				<div class="col-md-2" style="display: flex; justify-content: center; align-items: center;">
					<button type="submit" class="button button-large button-circle button-blue"><i class="icon-filter"></i>Filtrar <i class="icon-table1"></i></button>
				</div>
			</div>
		</form>
	</div>


		<div class="tabs tabs-responsive clearfix" id="tablist">
			<ul class="tab-nav center nav nav-pills nav-justified">
				<li id=""><a href="#tab-responsive-1"  class="format">INSCRIPCIONES</a></li>
				<li id=""><a href="#tab-responsive-2"  class="format">RENOVACIONES</a></li>
				<li id=""><a href="#tab-responsive-3" class="format">RECUPERACIONES</a></li>
			</ul>
			<div class="tab-container" >
				<div class="tab-content clearfix" id="tab-responsive-1">
					<!-- Content
					============================================= -->
					<section id="content">
						<div class="content-wrap">
							<div class="container clearfix">
								<table id="datatable1" class="table table-striped table-bordered center" style="width:100%; border:4px solid #f26334;" >
									<thead style="background-color: #002c6c; color: white;"">
										<tr>
											<th>numero de asociado</th>
											<th>ramo industrial</th>
											<th>clave del producto</th>
											<th>estado</th>
											<th>fecha de la factura</th>
											<th>fecha de la Anualidad</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</section><!-- #content end -->
				</div>
				<div class="tab-content clearfix" id="tab-responsive-2">
					<!-- Content
					============================================= -->
					<section id="content">
						<div class="content-wrap">
							<div class="container clearfix">
								<table id="datatable2" class="table table-striped table-bordered center" style="width:100%; border:4px solid #f26334;" >
									<thead style="background-color: #002c6c; color: white;"">
										<tr>
											<th>numero de asociado</th>
											<th>ramo industrial</th>
											<th>clave del producto</th>
											<th>estado</th>
											<th>fecha de la factura</th>
											<th>fecha de la Anualidad</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</section><!-- #content end -->
				</div>
				<div class="tab-content clearfix" id="tab-responsive-3">
					<!-- Content
					============================================= -->
					<section id="content">
						<div class="content-wrap">
							<div class="container clearfix">
								<table id="datatable3" class="table table-striped table-bordered center" style="width:100%; border:4px solid #f26334;" >
									<thead style="background-color: #002c6c; color: white;"">
										<tr>
											<th>numero de asociado</th>
											<th>ramo industrial</th>
											<th>clave del producto</th>
											<th>estado</th>
											<th>fecha de la factura</th>
											<th>fecha de la Anualidad</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</section><!-- #content end -->
				</div>
			</div>
		</div>


		<!-- Footer
		============================================= -->
        <%- include('../partials/footer'); %>
        <!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Bootstrap Data Table Plugin -->
	<script src="js/components/bs-datatable.js"></script>


	<!-- Bootstrap Select Plugin -->
	<script src="js/components/bs-select.js"></script>

	<!-- Select Splitter Plugin -->
	<script src="js/components/selectsplitter.js"></script>

	<!-- Bootstrap Data Table Plugin -->
	<script src="js/components/bs-datatable.js"></script>
	
	
	<!-- Date & Time Picker JS -->
	<script src="js/components/moment.js"></script>
	<script src="js/components/timepicker.js"></script>
	<script src="js/components/datepicker.js"></script>

	<!-- Include Date Range Picker -->
	<script src="js/components/daterangepicker.js"></script>
	
	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>
	<script>

	$(document).ready(function() {

		$('#datatable1').DataTable({
			ajax: {
				url: "/data",
				dataSrc:"",
			}
		});

		$('#datatable2').DataTable({
			ajax: {
				url: "/datar",
				dataSrc:"",
			}
		});

		$('#datatable3').DataTable({
			ajax: {
				url: "/datarc",
				dataSrc:"",
			}
		});

	});

	$(function() {
			// Inicializar los datepickers
			$('.component-datepicker.input-daterange').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
            });
	});
	</script>
</body>
</html>